.blog-entry {
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: $default-shadow;
  width: calc(66% - 4rem);
  .blog-photo {
    width: 100%;
    height: auto;
  }
}

.blog-preview {
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .date {
    color: $grey;
  }
  .author {
    color: $grey;
    margin-bottom: 1rem;
  }
  .preview-text {
    line-height: 1.5rem;
    margin-bottom: 2rem;
  }
  .read-more {
    text-decoration: none;
    color: $link-color;
    margin-bottom: 1rem;
    &:hover {
      color: $link-hover;
    }
  }
}

@media screen and (max-width: 2 * $width-increments) {
  .blog-entry {
    width: calc(100% - 4rem);
  }
}
