@import url(https://fonts.googleapis.com/css?family=Raleway);

$font-nav: 'Raleway', sans-serif;

.navbar {
  z-index: 10 !important;
  width: 100%;
  height: $nav-height;
  background-color: $off-black;
}

.nav-content {
  display: flex;
  margin: 0rem auto;
  height: 100%;

  justify-content: space-between;
  align-items: center;
}

// .logo {
//   width: 60px;
//   height: 60px;
//   margin-right: 0.75rem;
// }

.menu-button {
  margin-left: 1rem;
  width: auto;
  height: 16px;
  cursor: pointer;
}

$menu-item-height: 40px;
.nav-links {
  position: absolute;
  top: $nav-height;
  overflow: hidden;
  max-height: 0px;
  width: 100%;

  @include transition(all 0.2s ease-in-out);
}

.nav-links.show {
  max-height: 5 * $menu-item-height;
}

.nav-link {
  display: block;
  padding: 0rem 1rem;
  height: $menu-item-height;
  background-color: $off-black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 0.75rem;
  font-family: $font-nav;
  line-height: $menu-item-height;
}

@media screen and (min-width: 3 * $width-increments) {
  // 900px: show full links
  .menu-button { display: none; }
  .nav-content {
    display: flex;

    justify-content: center;
  }
  .nav-links {
    position: static;
    display: flex;
    max-height: 100%;
    width: 700px;
    height: 100%;
    height: $menu-item-height;
    line-height: $menu-item-height;

    justify-content: space-between;
    align-items: center;
  }
  .nav-link {
    display: inline-block;
    display: inline-flex;
    height: auto;
    font-size: 1,2rem;
    line-height: normal;

    align-items: flex-end;
  }
  .nav-link.active, .nav-link:hover {
    border-left: none; // cancel out mobile indicator
    color: $light-grey;
  }
}
