@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);

$font-body: 'Old Standard TT', sans-serif;
$font-accent: 'Libre Baskerville', sans-serif;
$font-heading: 'Montserrat', sans-serif;

$off-white: #FEFEFD;
$off-black: #212121;
$grey: #BDBDBD;
$light-grey: #E0E0E0;
$yellow: #FFDE00;

$link-color: #8BB7FF;
$link-hover: #2F7EFF;

$default-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);

$nav-height: 50px;
$width-increments: 300px;

@mixin transition($props) {
  -webkit-transition: $props;
  -moz-transition: $props;
  -ms-transition: $props;
   transition: $props;
}
