@import "./vendors/normalize";
@import "variables";
@import "navbar";
@import "landing";
@import "lookbook";
@import "blog";
@import "blogpost";
@import "about";

/* Adjustments to tag defaults */
::selection {
  background-color: $yellow;
}

html {
  background-color: $off-white;
  font-family: $font-body;
}

.lookbook, .blog, .about, .blog-post {
  margin: auto;
  padding: 10vh 15vw;
  border: 0;
  background: $off-white;
  color: $off-black;
}

@media screen and (max-width: 3 * $width-increments) {
  .lookbook, .blog, .about, .blog-post {
    padding: 10vh 10vw;
  }
}

@media screen and (max-width: 2 * $width-increments) {
  .lookbook, .blog, .about, .blog-post {
    padding: 5vh 5vw;
  }
}

.no-page {
  font-family: $font-body;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{$nav-height});
}
